# Ignore system files
.DS_Store
Thumbs.db

# Ignore build files
/build/
/dist/
/out/
*.o
*.obj
*.exe

# Ignore dependency directories
/node_modules/
/venv/
/env/
/target/
/.idea/
/.vscode/
/uploads/
# Ignore logs and temp files
*.log
*.tmp
npm-debug.log
yarn-error.log

# Ignore environment/config files
.env
*.local
config.json
